/* Table: width < 1024px */
@media Screen and (max-width: 63.9375em) {
  html {
    font-size: 60%;
  }

  .mySlides img {
    width: 100% !important;
    height: 80vh !important;
    object-fit: cover !important;
    object-position: right !important;
  }

  .menu-scroll {
    // position: absolute;
    transform: translateX(0);
  }

  .menu-icon {
    display: block;
    // padding-right: 1rem;
  }

  .menu-list,
  .menu-pc {
    display: none;
  }

  .text {
    left: 50%;
  }

  /* FEATURE
  =========================== */
  #feature {
    .feature-desc {
      width: 70rem;
      margin: 0 auto 10rem;
    }
  }

  /* SKILL
  =========================== */
  .skill-img {
    min-height: 110vh;
    // width: 100%;
  }
  .skill-left {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    padding: 0 0rem;
    width: 80%;
  }
  .skill-right {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 0rem;
    width: 80%;
  }
  .progress__bar {
    // width: 45rem;
    margin: 20px 0;
  }
  .ovelay-skill {
    display: none;
  }

  /* TEAM
  =========================== */
  .team {
    &-content {
      flex-direction: column;
    }

    &-item {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
  .team-overlayBox {
    .overplayBox-title {
      font-size: 2.2rem;
    }

    .overplayBox-desc {
      font-size: 2rem;
    }
  }

  .info-name {
    font-size: 2rem;
  }

  .info-job {
    font-size: 1.8rem;
  }

  .slider4 {
    &-content {
      grid-template-columns: 1fr;
      row-gap: 5rem;
      justify-content: space-around;
    }

    &-item {
      h3 {
        margin: 1.5rem 0;
      }
    }
  }
}
