/* Table: width < 1024px */
@media Screen and (max-width: 63.9375em) {
  html {
    font-size: 60%;
  }

  .mySlides img {
    width: 100% !important;
    height: 80vh !important;
    object-fit: cover !important;
    object-position: right !important;
  }

  .menu-scroll {
    // position: absolute;
    transform: translateX(0);
  }

  .menu-icon {
    display: block;
    // padding-right: 1rem;
  }

  .menu-list,
  .menu-pc {
    display: none;
  }

  .text {
    left: 50%;
  }

  /* FEATURE
  =========================== */
  #feature {
    .feature-desc {
      width: 70rem;
      margin: 0 auto 10rem;
    }
  }
}
